<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulo | uppercase }}</span>
          <form
            class="mt-3"
            [formGroup]="alumnoForm"
            (ngSubmit)="agregarAlumno()"
          >
            <div class="mb-3">
              <input
                type="text"
                formControlName="nombres"
                class="form-control form-control-lg"
                placeholder="Nombres"
              />
              <div
                class="text-danger"
                *ngIf="
                  alumnoForm.get('nombres')?.hasError('required') &&
                  alumnoForm.get('nombres')?.touched
                "
              >
                <span>El nombre del alumno es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="apellidos"
                class="form-control form-control-lg"
                placeholder="Apellidos"
              />
              <div
                class="text-danger"
                *ngIf="
                  alumnoForm.get('apellidos')?.hasError('required') &&
                  alumnoForm.get('apellidos')?.touched
                "
              >
                <span>El apellido del alumno es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="number"
                formControlName="edad"
                class="form-control form-control-lg"
                placeholder="Edad"
              />
              <div
                class="text-danger"
                *ngIf="
                  alumnoForm.get('edad')?.hasError('required') &&
                  alumnoForm.get('edad')?.touched
                "
              >
                <span>La edad del alumno es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="genero"
                class="form-control form-control-lg"
                placeholder="Genero"
              />
              <div
                class="text-danger"
                *ngIf="
                  alumnoForm.get('genero')?.hasError('required') &&
                  alumnoForm.get('genero')?.touched
                "
              >
                <span>El genero del alumno es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="number"
                formControlName="promedio_pond"
                class="form-control form-control-lg"
                placeholder="Promedio"
              />
              <div
                class="text-danger"
                *ngIf="
                  alumnoForm.get('promedio')?.hasError('required') &&
                  alumnoForm.get('promedio')?.touched
                "
              >
                <span>El promedio del alumno es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <button
                class="btn btn-secondary btn-lg float-start"
                routerLink="/"
              >
                Volver
              </button>
              <button
                class="btn btn-success btn-lg float-end"
                [disabled]="alumnoForm.invalid"
              >
                Aceptar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
